{% extends "base.html" %}

{% load static %}

{% block head %}
<title>Блог</title>
<link rel="stylesheet" crossorigin href="{% static 'css/blog.css' %}">
<script type="module" crossorigin src="{% static 'js/blog.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container">
  <section id="blog" class="blog">
    <nav class="blog__articles">
      <ul class="articles__list">
        {% if blogs_sections %}
        <li class="articles__list__item active">ВСЕ СТАТЬИ</li>
        {% for item in blogs_sections %}
        <li class="articles__list__item" data-id="{{item.id}}">{{ item.title.upper }}</li>
        {% endfor %}
        {% else %}
        <li class="articles__list__item active">Статьи на этапе доставки в ваш регион!</li>
        {% endif %}
      </ul>
    </nav>
    <div class="articles__content">
      <ul class="articles-big__list">
        {% if blogs__aricles %}
        {% for item in blogs__aricles %}
        <li class="articles-big__list__item">
          <div class="articles-big__title">{{item.blog_title}}</div>
          <div class="articles-big__publication-date">{{item.date_published}}</div>
          <div class="articles-big__content">
            <div class="articles-big__arguments">
              <div class="articles-big__argument">{{item.blog_body}}</div>
              <a href="/this_blog/{{item.id}}/" class="articles-big__link">Показать полностью</a>
            </div>
            <div class="articles-big__media">
              <img class="articles-big__media-img" src="/media/{{item.blog_img}}" alt="">
            </div>
          </div>
        </li>
        {% endfor %}
        {% else %}
        <li class="articles__list__item active">Статьи скоро появятся!</li>
        {% endif %}
      </ul>
      <div class="articles__right__nav">
        <ul class="articles__small__list"></ul>
      </div>
    </div>
  </section>
</div>
{% endblock %}