{% extends "base.html" %}

{% load static %}

{% block head %}
<title>Документация</title>
<link rel="stylesheet" crossorigin href="{% static 'css/article.css' %}">
<script type="module" crossorigin src="{% static 'js/article.js' %}"></script>
{% endblock %}

{% block main %}
<div class="container">
  <section id="article" class="article">
    <div class="articles__content">
        <div class="news__big-articles">
          <div class="news__main">
            <div class="news__main-article">
              <div class="main-article__item">
                <div class="main-article__title">{{object.blog_title}}</div>
                <div class="main-article__media">
                  <img class="main-article__media-img" src="/media/{{object.blog_img}}" alt="">
                </div>
                <div class="main-article__publication-date">{{object.date_published}}</div>
                <div class="main-article__content">
                  <div class="main-article__arguments">
                    <div class="main-article__argument">{{object.blog_body}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="articles__right__nav">
          <ul class="articles__small__list"></ul>
        </div>
        <div class="articles-big__list-news">
          <ul class="articles-big__list">
            {% if blogs_list %}
            {% for item in blogs_list%}
            <li class="articles-big__list__item">
              <a href="/this_blog/{{item.id}}/" class="articles-big__list__link"></a>
              <div class="articles-big__list__about">
                <div class="articles-big__title">{{item.blog_title}}</div>
                <div class="articles-big__publication-date">{{item.date_published}}</div>
              </div>
              <div class="articles-big__media">
                <img class="articles-big__media-img" src="/media/{{item.blog_img}}" alt="">
              </div>
            </li>
            {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
  </section>
</div>
{% endblock %}