{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First app home page</title>
    <link rel="stylesheet" href="{% static 'css/null_for_templates.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="info">
            <p><strong>{{ product.name }}</strong></p>
            <p>{{ product.price }}</p>
        </div>
        <div class="first_image">
            <img src="{{ product.photo.url }}" alt="{{ product.photo.url }}">
            <div class="user_info">
                <p><strong>Ну привет: {{ user }} - {{ os_user }}</strong></p>
            </div>
        </div>
    </div>
</body>
</html>