.search_doc{
	margin-top: 35px;
	width: 305px;
	font-size: 16px;
	margin-bottom: 35px;
	margin-left: auto;
}

.search_doc__input{
	width: 100%;
	height: 100%;
	padding: 9px 0 9px 9px;
	background: #d9d9d93b;
	border-radius: 5px;
	border: 1px solid lightgray;
	transition: all 0.3s ease;
}

.search_doc__input:focus{
	border: 1px solid lawngreen;
}

.category__articles{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
  overflow: hidden;
}

.categories__list{
	display: flex;
	width: max-content;
  justify-content: space-between;
	margin-bottom: 50px;
}

.category__list__item{
  display: inline;

}

.category__list__item_link{
  display: flex;
  width: 100%;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: large;
  font-weight: inherit;
  color: black;
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}

.category__list__item_link:hover{
  font-weight: bolder;
  color: azure;
  background: #85A382;
	cursor: pointer;
}

.category__list__item_link.active{
	font-weight: bolder;
  color: azure;
  background: #85A382;
}

.documentation-cat__list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.documentation-cat__list__item{
  width: 32%;
  padding-bottom: 15px;
}

.documentation-cat__content{
  width: 100%;
}

.documentation-cat__info{
  background-color: rgba(216, 228, 214, 0.3);
  padding: 10px 20px;
  width: 100%;
}

.documentation-cat__link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 10px;
}

.documentation-cat__link:hover, .documentation-cat__info:hover{
  cursor: pointer;
}

.documentation-cat_media{
  position: relative;
  width: 100%;
  object-fit: cover;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.documentation-cat_photo{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.documentation-cat__title{
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: 500;
}

.documentation-cat__about{
  height: 50px;
  overflow: hidden;
}

.documentation-cat__button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.documentation-cat__btn{
  display: flex;
  align-items: center;
  text-align: center;
	padding-top: 5px;
	background: none;
}

.documentation-cat__button_btn{
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: all 0.3s ease;
}

@media screen and (max-width: 1279px){

  .category__articles{
    display: block;
  }
	.categories__list{
		width: max-content;
	}

	.category__list__item{
		padding: 5px 15px;
	}
}

@media screen and (max-width: 1023px){
  .category__articles{
    display: block;
  }

	.categories__list{
		width: max-content;
	}

	.category__list__item{
		padding: 5px 5px;
	}

	
}

@media screen and (max-width: 959px){

  .category__articles{
    width: 100%;
    overflow: hidden;
  }

  .category__list__item{
    width: 100%;
  }

  .category__list__item_link{
    width: max-content;
  }
  
}

@media screen and (max-width: 767px){

  .documentation-cat__list__item{
    width: 100%;
    padding-bottom: 15px;
  }

}