.search_doc{
	margin-top: 35px;
	width: 305px;
	font-size: 16px;
	margin-bottom: 35px;
	margin-left: auto;
}

.search_doc__input{
	width: 100%;
	height: 100%;
	padding: 9px 0 9px 9px;
	background: #d9d9d93b;
	border-radius: 5px;
	border: 1px solid lightgray;
	transition: all 0.3s ease;
}

.search_doc__input:focus{
	border: 1px solid lawngreen;
}

.category__articles{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.categories__list{
	display: flex;
	width: 80%;
	margin-bottom: 50px;
}

.category__list__item{
	margin: 0 auto;
	padding: 5px 25px;
	transition: all 0.3s ease;
}

.category__list__item.active{
	border-radius: 10px;
	background: rgba(170, 219, 170, 0.61);
}

.category__list__item:hover{
	padding: 5px 25px;
	border-radius: 10px;
	background: rgba(170, 219, 170, 0.61);
	cursor: pointer;
}

.about-category__list{
	width: 100%;
}

.about-category__list__item{
	margin-bottom: 50px;
	padding: 20px 0;
	border-radius: 10px;
	background: radial-gradient(circle, rgba(170, 219, 170, 0.492) 0%, rgb(255, 255, 255) 30%, rgb(255, 255, 255) 100%);
}

.about-category__title{
	text-align: center;
	font-size: 30px;
	margin-bottom: 42px;
}

.about-category__info{
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0 25px;
	margin-bottom: 65px;
}

.about-category__text{
	width: 49%;
	max-width: 630px;
}

/*.main__video-player {
	display: flex;
	align-items: flex-start;
	max-width: 630px;
	width: 49.217%;
}*/

.documentation__video{
	border-radius: 10px;
	height: max-content;
	width: 100%;
}

.about-category__text__p{
	padding-top: 10px;
	text-align: justify;
	line-height: 18px;
}

.about-category__button{
	display: flex;
	width: 100%;
}

.about-category__btn{
	font-size: 16px;
	padding: 15px 131.25px;
	border-radius: 10px;
	margin: 0 auto;
	background-color: #7ea87a80;
	transition: all 0.3s ease;
}

.about-category__btn:hover{
	background-color: #73b46d80;
}

.documentations__articles__under-header{
	display: none;
}

.search_doc__under-header{
	display: none;
}

@media screen and (max-width: 1280px){
	.categories__list{
		width: 90%;
	}

	.category__list__item{
		padding: 5px 15px;
	}
}

@media screen and (max-width: 1024px){
	.categories__list{
		width: 95%;
	}

	.category__list__item{
		padding: 5px 5px;
	}

	.about-category__text{
		display: -webkit-box;
		-webkit-line-clamp: 10;
		-webkit-box-orient: vertical;
		overflow: hidden;
		height: min-content;
	}
}

@media screen and (max-width: 800px){

	.about-category__btn{
		padding: 8px 123.5px;
	}

	.search_doc__under-header{
		position: absolute;
		display: flex;
		top: 66px;
		left: 0;
		background: #85A382;
		width: 100%;
		height: 60px;
		padding: 10px 20px;
	}

	.search_doc__input__underheader{
		width: 100%;
		height: 100%;
		border: 1px solid azure;
		padding-left: 30px;
	}

	.about-category__list{
		margin-top: 110px;
	}

	.search_doc{
		display: none;
	}

	.category__articles{
		display: none;
	}

	.about-category__info{
		flex-direction: column-reverse;
		align-items: center;
		gap: 20px;
	}

	.about-category__text{
		width: 100%;
		display: -webkit-box;
		-webkit-line-clamp: 10;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.documentations .main__video-player{
		width: 100%;
	}

	.documentations__articles__under-header{
		position: absolute;
		left: 0;
		top: 66px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		background: #85A382;
		color: azure;
		padding: 20px 0;
		font-size: larger;
		font-weight: 600;
		letter-spacing: 1px;
	}

  	.articles__list__under-header{
		position: absolute;
		height: 0;
		overflow: hidden;
		opacity: 0;
		width: 100%;
		top: -100px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 20px;
		padding: 10px 0;
	}

  	.articles__list__under-header__item{
		padding: 5px 15px;
		font-size: smaller;
		font-weight: 500;
	}

  	.articles__list__under-header.active{
		height: max-content;
		overflow: auto;
		opacity: 1;
		background: #85A382;
		top: 59px;
	}
}

@media screen and (max-width: 480px){

	.about-category__btn{
		padding: 8px 80px;
	}
}