.search_doc{
	margin-top: 35px;
	width: 305px;
	font-size: 16px;
	margin-bottom: 35px;
	margin-left: auto;
}

.search_doc__input{
	width: 100%;
	height: 100%;
	padding: 9px 0 9px 9px;
	background: #d9d9d93b;
	border-radius: 5px;
	border: 1px solid lightgray;
	transition: all 0.3s ease;
}

.search_doc__input:focus{
	border: 1px solid lawngreen;
}

.news__articles{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 75px 0;
}

.articles__list{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.articles__list__item{
  font-size: large;
  font-weight: bolder;
  display: inline;
  padding: 20px 15px;
  border-radius: 5px;
}

.articles__list__item.active{
  color: azure;
  background: rgba(169, 197, 169, 0.815);
}

.articles__content{
  display: flex;
}

.news__big-articles{
  display: flex;
  width: 75%;
}

.news__main-article{
  width: 50%;
}

.main-article__item{
  padding-right: 20px;
}

.main-article__media{
  width: 100%;
  max-width: 460px;
  border-radius: 10px;
  padding-bottom: 15px;
}

.main-article__media-img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.articles-big__list-news{
  width: 50%;
  padding-left: 20px;
  border-left: 1px solid lightgray;
  height: max-content;
}

.articles-big__list-news__title{
  font-size: 18px;
  font-weight: 500;
}

.articles-big__list{
  width: 100%;
  padding-right: 20px;
  padding-top: 20px;
}

.articles-big__list__item{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 60px;
}

.articles__small__list{
  width: 25%;
  padding: 20px;
  box-shadow: 0px 5px 10px 2px rgba(216, 228, 214, 0.3) inset;
  border-radius: 10px;
}

.articles__small__list__item{
  padding: 10px;
  border-radius: 5px;
  box-shadow: -5px -5px 5px -5px rgb(132, 158, 128);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.articles__small__list__item:hover{
  text-decoration: underline;
}

.articles-big__content{
  display: flex;
  justify-content: space-between;
  max-height: 300px;
}

.articles-big__list__about{
  display: flex;
  width: 48%;
  flex-direction: column;
  justify-content: space-between;
}

.articles-big__arguments{
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articles-big__media{
  width: 48%;
  max-width: 214px;
  border-radius: 10px;
}

.articles-big__media-img{
  width: 100%;
  aspect-ratio: 16/8;
  border-radius: 5px;
  object-fit: cover;
}

.articles-big__title{
  font-size: 16px;
  line-height: 22.4px;
}

.main-article__title{
  font-size: 24px;
  line-height: 35px;
  font-weight: bold;
}

.articles-big__publication-date{
  font-size: 16px;
  color: lightgray;
}

.main-article__publication-date{
  font-size: 20px;
  color: lightgray;
  margin: 15px 0;
}

.articles-big__argument{
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 22.4px;
  text-align: justify;
}

.main-article__argument{
  line-height: 22.4px;
  text-align: justify;
}

.articles-big__link{
  text-align: end;
  text-decoration: underline;
  cursor: pointer;
}

.news__articles__under-header{
  display: none;
}

.articles-big__list__button{
  padding: 10.5px 0;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .articles__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .articles__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .articles-big__media{
    display: none;
  }
}

@media screen and (max-width: 959px) {

  .articles__list__item{
    font-size: smaller;
    padding: 20px 5px;
  }
  .articles__small__list__item{
    font-size: smaller;
  }

  .articles-big__list__about{
    width: 100%;
  }
}

@media screen and (max-width: 767px) {

  .search_doc__under-header{
		position: absolute;
		display: flex;
		top: 66px;
		left: 0;
		background: #85A382;
		width: 100%;
		height: 60px;
		padding: 10px 20px;
	}

	.search_doc__input__underheader{
		width: 100%;
		height: 100%;
		border: 1px solid azure;
		padding-left: 30px;
	}

  .svg-icon{
    margin-left: 10px;
  }

  .articles__small__list{
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
  }

  .articles__content{
    padding-top: 60px;
  }

  .articles-big__list{
    width: 100%;
    padding-top: 110px;
  }

  .news__articles{
    display: none;
  }

  .news__articles__under-header{
    position: absolute;
		left: 0;
		top: 66px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		background: #85A382;
		color: azure;
		padding: 20px 0;
		font-size: larger;
		font-weight: 600;
		letter-spacing: 1px;
  }

  .articles__list__under-header{
    position: absolute;
    height: 0;
    overflow: hidden;
    opacity: 0;
    width: 100%;
    top: -100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 0;
  }

  .articles__list__under-header__item{
    padding: 5px 15px;
    font-size: smaller;
    font-weight: 500;
  }

  .articles__list__under-header.active{
    height: max-content;
    overflow: auto;
    opacity: 1;
    background: #85A382;
    top: 59px;
  }

  .articles-big__content{
    flex-direction: column-reverse;
    max-height: max-content;
    width: 100%;
  }

  .articles-big__arguments{
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
  }

  .articles-big__title{
    font-size: 20px;
    line-height: 20px;
  }

  .articles-big__media{
    width: 60%;
    min-width: 300px;
  }
}