.search_doc{
	margin-top: 35px;
	width: 305px;
	font-size: 16px;
	margin-bottom: 35px;
	margin-left: auto;
}

.search_doc__input{
	width: 100%;
	height: 100%;
	padding: 9px 0 9px 9px;
	background: #d9d9d93b;
	border-radius: 5px;
	border: 1px solid lightgray;
	transition: all 0.3s ease;
}

.search_doc__input:focus{
	border: 1px solid lawngreen;
}

.news__articles{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 75px 0;
}

.articles__list{
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.articles__list__item{
  font-size: large;
  font-weight: bolder;
  display: inline;
  padding: 20px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.articles__list__item.active{
  color: azure;
  background: #85A382;
}

.articles__content{
  display: flex;
}

.news__big-articles{
  width: 75%;
  padding-right: 20px;
}

.news__main{
  display: flex;
}

.news__main-article__link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.news__main-article{
  position: relative;
  width: 50%;
}

.main-article__item{
  padding-right: 20px;
}

.main-article__media{
  width: 100%;
  max-width: 460px;
  border-radius: 10px;
  padding-bottom: 15px;
}

.main-article__media-img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.articles-big__list-news{
  width: 50%;
  padding-left: 20px;
  border-left: 1px solid lightgray;
  height: max-content;
}

.articles-big__list-news__title{
  font-size: 18px;
  font-weight: 500;
}

.articles-big__list{
  width: 100%;
  padding-right: 20px;
  padding-top: 20px;
}

.articles-big__list__item{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 60px;
}

.articles__right__nav{
  position: sticky;
  top: 0;
  height: 95vh;
  overflow-y: hidden;
  width: 25%;
  box-shadow: 0px 5px 10px 2px rgba(216, 228, 214, 0.3) inset;
  border-radius: 10px;
}

.articles__small__list{
  width: 100%;
  padding: 20px;
}

.articles__small__list__item{
  position: relative;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -5px -5px 5px -5px rgb(132, 158, 128);
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  line-height: 22px;
}

.articles__small__list__item:hover{
  text-decoration: underline;
}

.articles-big__content{
  display: flex;
  justify-content: space-between;
  max-height: 300px;
}

.articles-big__list__about{
  display: flex;
  width: 48%;
  flex-direction: column;
  justify-content: space-between;
}

.articles-big__arguments{
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articles-big__media{
  width: 48%;
  max-width: 214px;
  border-radius: 10px;
}

.articles-big__media-img{
  width: 100%;
  aspect-ratio: 16/8;
  border-radius: 5px;
  object-fit: cover;
}

.articles-big__title{
  font-size: 16px;
  line-height: 22.4px;
}

.main-article__title{
  font-size: 24px;
  line-height: 35px;
  font-weight: bold;
}

.articles-big__publication-date{
  font-size: 16px;
  color: lightgray;
}

.main-article__publication-date{
  font-size: 20px;
  color: lightgray;
  margin: 15px 0;
}

.articles-big__argument{
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 22.4px;
  text-align: justify;
}

.main-article__argument{
  line-height: 22.4px;
  text-align: justify;
}

.articles-big__link{
  text-align: end;
  text-decoration: underline;
  cursor: pointer;
}

.news__articles__under-header{
  display: none;
}  

.articles-big__list__button{
  padding: 10.5px 0;
  width: 90%;
}

.articles-big__list__link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.articles-categories__sliders{
  margin-top: 60px;
  width: 100%;
}

.category__slider{
  position: relative;
  margin-bottom: 20px;
}

.slider__content{
  display: flex;
  margin-left: 10px;
  width: max-content;
  height: max-content;
}

.article__slider{
  width: 100%;
  overflow-x: hidden;
  height: 360px;
}

.slider__card__media{
  max-width: 248px;
}

.slider__card__media__img{
  width: 100%;
  aspect-ratio: 16/9;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider__card__title{
  padding: 20px;
  font-weight: bolder;
  width: 100%;
  line-height: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider__card{
  position: relative;
  max-width: 248px;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
  height: 330px;
  margin: 0 10px;
}

.slider__card__link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 100;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.category__slider__btn{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  background: rgb(255, 255, 255);
  border: 1px solid lightgray;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.category__slider__btn:hover{
  border: 1px solid rgb(0, 0, 0);
}

.slider__btn-left{
  top: 140px;
  transform: rotate(180deg)
}

.slider__btn-right{
  right: 0;
  top: 140px;
}

.category__filter{
  padding: 25px 0;
  margin-left: 20px;
}

.category__filter__list{
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: large;
  font-weight: bolder;
  
}

.category__filter__list__item{
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.category__filter__list__item.active{
  background: #85A382;
  color: azure;
}

@media screen and (max-width: 1279px) {
  .articles__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .articles__list{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .articles-big__media{
    display: none;
  }
}

@media screen and (max-width: 959px) {

  .articles__small__list{
    padding: 5px;
  }

  .articles__list__item{
    font-size: smaller;
    padding: 20px 5px;
  }
  .articles__small__list__item{
    font-size: smaller;
  }

  .articles-big__list{
    padding-right: 0;
  }

  .articles-big__list__about{
    width: 100%;
  }
}

@media screen and (max-width: 767px) {

  .news__articles{
    padding-bottom: 10px;
  }


  .articles__right__nav{
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
  }

  .news__main{
    display: flex;
    flex-direction: column;
  }

  .main-article__item{
    padding-right: 0;
  }

  .main-article__media{
    max-width: none;
  }

  .main-article__media-img{
    aspect-ratio: 16/9;
  }

  .articles__content{
    padding-top: 40px;
  }

  .news__big-articles{
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  .news__main-article{
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
  }

  .articles__small__list{
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    padding: 0;
  }

  .articles-big__list{
    width: 100%;
    padding-top: 20px;
    padding-right: 0;
  }

  .articles-big__list-news{
    width: 100%;
    padding-top: 20px;
    padding-left: 0;
    border-left: none;
  }

  .articles-big__list__item{
    padding-bottom: 40px;
  }

  .articles-big__media{
    display: block;
    width: 35%;
  }

  .articles-big__list-news__title{
    display: none;
  }

  .articles-big__content{
    flex-direction: column-reverse;
    max-height: max-content;
    width: 100%;
  }

  .articles-big__arguments{
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
  }

  .articles-big__list__about{
    width: 60%;
  }

  .articles-big__title{
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 10px;
  }

  .articles-big__list__button{
    width: 100%;
  }
}